.navbar-color {
  background-color: rgb(207, 207, 202);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-color: black;
}

.brandimg {
  margin-left: 10px;
}

.navlink:hover {
  background: white;
  color: black;
  transition: 0.3s;
}

.col {
  margin: 10%;
}

.test {
  margin-top: 10%;
}

.heading {
  margin: 10px 30px;
  padding: 35px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
  border-bottom: rgba(0, 0, 0, 1) 0 4px 12px;
}

.docs {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff, #00000009);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(73, 73, 73, 0.938);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.3;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.docs:hover,
.docs:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
  color: rgba(0, 0, 0, 0.8);
}

.docs:hover {
  transform: translateY(-1px);
}

.docs:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@media only screen and (min-width: 510px) {
}
/* .link {
  color: white;
  text-decoration: none;
  margin-top: 12px;
  margin-left: 5px ;
}

.link:hover {
  background: white ;
  color: rgb(255, 255, 255) ;
  transition: 0.3s ;
} */

/* .btn {
  margin-top: 12px;
  margin-left: 20px;
}

.btn:hover {
  background: white ;
  color: black ;
  transition: 0.3s ;
} */
/* 
.docs {
  color: black ;
  text-decoration: none ;
  margin-top: 12px;
  margin-left: 5px ;
}

.docs:hover {
  background: black ;
  color: white ;
  transition: 0.3s ;
} */
