.navbar-color {
  background-color: rgb(207, 207, 202);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-color: black;
}

.brandimg {
  margin-left: 10px;
}

.navlink:hover {
  background: white;
  color: black;
  transition: 0.3s;
}

.col {
  margin: 10%;
}

.test {
  margin-top: 10%;
}

.heading {
  margin: 10px 30px;
  padding: 35px;
}

.docs {
  margin: 10px 30px;
  padding: 35px;
  color: rgb(255, 248, 248);
  background-color: #655d58;
  text-align: center;
  border-radius: 25px;
}

/* .link {
  color: white;
  text-decoration: none;
  margin-top: 12px;
  margin-left: 5px ;
}

.link:hover {
  background: white ;
  color: rgb(255, 255, 255) ;
  transition: 0.3s ;
} */

/* .btn {
  margin-top: 12px;
  margin-left: 20px;
}

.btn:hover {
  background: white ;
  color: black ;
  transition: 0.3s ;
} */
/* 
.docs {
  color: black ;
  text-decoration: none ;
  margin-top: 12px;
  margin-left: 5px ;
}

.docs:hover {
  background: black ;
  color: white ;
  transition: 0.3s ;
} */
